header {
  height: 15vh;
}

h3 {
  width: 50%;
}

h3, .resumeBtn {
    color: #FAB3C8;
    text-shadow:
    0 0 7px #EF1A5A,
    0 0 10px #EF1A5A,
    0 0 21px #EF1A5A,
    0 0 42px #EF1A5A,
    0 0 82px #EF1A5A,
    0 0 92px #EF1A5A,
    0 0 102px #EF1A5A,
    0 0 151px #EF1A5A;
    letter-spacing: 1px;
    justify-content: center;
    align-self: center;

  }
  
  ul {
    list-style-type: none;
  }

  .nav-link {
    color: #64ffda!important;
    letter-spacing: 1px;
    font-size: 20px;
  }
  
  /* p, i{
    color: #74728E;
  } */

  a {
    text-decoration: none;
  }

  .flex {
    display: flex;
  }

  .link-container {
    justify-content: end;
    width: 35%;
  }

  .link-container ul {
    margin: auto 1%;
  }

  .resumeBtn {
    color: #fff!important;
    text-decoration: none;
    border: 1px solid #EF1A5A;
    background-color: transparent;
    padding: 13px;
    border-radius: 1rem;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #EF1A5A,
              0 0 0.8rem #EF1A5A,
              0 0 2.8rem #EF1A5A,
              inset 0 0 1.3rem #EF1A5A;
  }
  
  #resumeBtn {
    padding: 10px;
  }