@import url(https://fonts.googleapis.com/css2?family=Domine:wght@700&display=swap);
* {
  font-family: 'Domine', serif;
}


h2 {
  color:#64ffda;
  font-size: 2.25rem !important;
}

p {
  font-size: 20px;
  color: #ffffff;
  letter-spacing: 1px;
  font-family: 'Raleway', Arial, sans-serif;
}

.freelance-img-large {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  object-position: 0 16%;
}

.learning-list {
  list-style-type: circle;
}

.my-pic {
  width: 350px;
  height: 350px;
  border:#64ffda solid 3px;
}

.main-img {
  width: 100%;
  height: auto;
  
}

.projects {
  width: 100%;
  height: 25vh;
  object-fit: cover !important;
}


.link-projects {
  width: 15% !important;
}

.link-projects-small {
  width: 18% !important;
}

.link-btn {
  text-decoration: none;
  text-align: center;
  font-weight:bolder;
  font-size: 20px;
  width: 10%;
}

.small-img {
  width: 25%;
  margin: 0 1.5% 1.5%;
}

/* IMG CSS */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
.animate {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  margin: 10px;
  /* min-width: 310px -60px; */
  /* max-width: 310px; */
  width: 100%;
  color: #ffffff;
  text-align: left;
  /* background-color: #000000; */
  font-size: 16px;
  box-shadow: rgba(100, 255, 218, .7) 0px 10px 36px 0px, rgba(100, 255, 218, .3) 0px 0px 0px 1.5px;
}
.animate * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  /* background-color: rgba(0, 0, 0, 0.40); */
}
.animate img {
  position: relative;
  max-width: 100%;
  vertical-align: top;
}
.animate figcaption {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0;
  padding: 20px 30px;
}
.animate figcaption:before,
.animate figcaption:after {
  width: 1px;
  height: 0;
}
.animate figcaption:before {
  right: 0;
  top: 0;
}
.animate figcaption:after {
  left: 0;
  bottom: 0;
}
.animate h3 {
  line-height: 1.5em;
  background-color: transparent;
}
.animate h3 {
  margin: 0 0 5px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}
.animate li {
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 0 15px;
  letter-spacing: 1px;
}
.animate a {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem;
  z-index: 1;
}
.animate:before,
.animate:after,
.animate figcaption:before,
.animate figcaption:after {
  position: absolute;
  content: '';
  background-color: whitesmoke;
  z-index: 1;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0.8;
}
.animate:before,
.animate:after {
  height: 1px;
  width: 0%;
}
.animate:before {
  top: 0;
  left: 0;
}
.animate:after {
  bottom: 0;
  right: 0;
}
.animate:hover img,
.animate.hover img {
  opacity: .9;
}
.animate:hover figcaption,
.animate.hover figcaption {
  opacity: .7;
}
.animate:hover figcaption:before,
.animate.hover figcaption:before,
.animate:hover figcaption:after,
.animate.hover figcaption:after {
  height: 100%;
}
.animate:hover:before,
.animate.hover:before,
.animate:hover:after,
.animate.hover:after {
  width: 100%;
}
.animate:hover:before,
.animate.hover:before,
.animate:hover:after,
.animate.hover:after,
.animate:hover figcaption:before,
.animate.hover figcaption:before,
.animate:hover figcaption:after,
.animate.hover figcaption:after {
  opacity: 0.9;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* WIDE SCREEN */
@media only screen and (min-width: 1400px) {
  .small-img {
    width: 35%;
  }

  .projects {
    height: 40vh;
  }
}