* {
  background-color: #233554;
}

h5 {
  color:#64ffda;
}

.main-img {
  width: 100%;
  height: auto;
  
}

.main-card {
  position: relative;
  width: 714px;
  margin: 0 auto;
  border: 3px solid #64ffda
}

.work-card {
  position:relative;
  border: 3px solid #64ffda;
}

.work-gallery {
  background-color: #233554;
  position: absolute;
  bottom: 20px;
  width: 75%;
}

.projects {
  width: 385px;
  height: 205px;
}
