@import url(https://fonts.googleapis.com/css2?family=Domine:wght@700&display=swap);
* {
  background-color: #233554;
  /* font-family: 'Raleway', Arial, sans-serif; */
}

h3, a {
  font-family: 'Domine', serif;
}

h5 {
  color:#64ffda;
}

p {
  font-size: 20px;
  color: #ffffff;
  letter-spacing: 1px;
  font-family: 'Raleway', Arial, sans-serif;
}

.learning-list {
  list-style-type: circle;
}

.my-pic {
  width: 350px;
  height: 350px;
  border:#64ffda solid 3px;
}

.main-img {
  width: 100%;
  height: auto;
  
}

.main-card {
  position: relative;
  width: 714px;
  margin: 0 auto;
  border: 3px solid #64ffda
}

.work-card {
  position:relative;
  border: 3px solid #64ffda;
}

.work-gallery {
  background-color: #233554;
  position: absolute;
  bottom: 20px;
  width: 75%;
}

.projects {
  width: 100%;
  height: 218px;
}

.card {
  background-color: transparent !important;
  border: none !important;
}

.link-btn {
  text-decoration: none;
  text-align: center;
  font-weight:bolder;
  font-size: 20px;
}

/* IMG CSS */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
.snip1273 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  margin: 10px;
  /* min-width: 310px -60px; */
  /* max-width: 310px; */
  width: 100%;
  color: #ffffff;
  text-align: left;
  /* background-color: #000000; */
  font-size: 16px;
  box-shadow: rgba(100, 255, 218, .7) 0px 10px 36px 0px, rgba(100, 255, 218, .3) 0px 0px 0px 1.5px;
}
.snip1273 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  /* background-color: rgba(0, 0, 0, 0.40); */
}
.snip1273 img {
  position: relative;
  max-width: 100%;
  vertical-align: top;
}
.snip1273 figcaption {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0;
  padding: 20px 30px;
}
.snip1273 figcaption:before,
.snip1273 figcaption:after {
  width: 1px;
  height: 0;
}
.snip1273 figcaption:before {
  right: 0;
  top: 0;
}
.snip1273 figcaption:after {
  left: 0;
  bottom: 0;
}
.snip1273 h3 {
  line-height: 1.5em;
  background-color: transparent;
}
.snip1273 h3 {
  margin: 0 0 5px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}
.snip1273 li {
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 0 15px;
}
.snip1273 a {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem;
  z-index: 1;
}
.snip1273:before,
.snip1273:after,
.snip1273 figcaption:before,
.snip1273 figcaption:after {
  position: absolute;
  content: '';
  background-color: whitesmoke;
  z-index: 1;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0.8;
}
.snip1273:before,
.snip1273:after {
  height: 1px;
  width: 0%;
}
.snip1273:before {
  top: 0;
  left: 0;
}
.snip1273:after {
  bottom: 0;
  right: 0;
}
.snip1273:hover img,
.snip1273.hover img {
  opacity: .9;
}
.snip1273:hover figcaption,
.snip1273.hover figcaption {
  opacity: .7;
}
.snip1273:hover figcaption:before,
.snip1273.hover figcaption:before,
.snip1273:hover figcaption:after,
.snip1273.hover figcaption:after {
  height: 100%;
}
.snip1273:hover:before,
.snip1273.hover:before,
.snip1273:hover:after,
.snip1273.hover:after {
  width: 100%;
}
.snip1273:hover:before,
.snip1273.hover:before,
.snip1273:hover:after,
.snip1273.hover:after,
.snip1273:hover figcaption:before,
.snip1273.hover figcaption:before,
.snip1273:hover figcaption:after,
.snip1273.hover figcaption:after {
  opacity: 0.9;
}

